Game
Materials
Scenes
CameraScript.cs.meta
DetectCollision.cs
DetectCollision.cs.meta
Game.meta
Materials.meta
ObjectClicks.cs.meta
Player.cs.meta
Player2.cs
Player2.cs.meta
Scenes.meta
SpawnPlanets.cs.meta
Notes.txt.meta
UniversalRenderPipelineGlobalSettings.asset
UniversalRenderPipelineGlobalSettings.asset.meta
Arrow.cs.meta
